@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: url(../../../public/landing/cursor.png) 4 1, pointer !important;
}

@font-face {
  font-family: "SF Pro Display"; /*Can be any text*/
  src: local("ProductSansInfanity"),
    url("../../assets/fonts/ProductSansInfanity.ttf") format("truetype");
}

html,
body {
  margin: unset;
  padding: unset;
  font-size: 15px;
  font-family: "SF Pro Display";
  background-color: #606068 !important;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
